 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> {{ message.subject }} </title>
  <style type="text/css">
#header {
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    margin-bottom: 20px;
}
th {
    text-align: left;
}
.plain-text-msg {
white-space: pre-wrap;
max-width: 80ch; 
font-family: monospace;
}
   
  </style>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
  
<h1> {{ message.subject }} </h1> 
<button id="archive-button" type="button">Archive</button> 
<a href="/thread/{{ message.thread_id }}#{{ message.id }}">Thread</a>
<table id="header">
    <tr><th>Date:</th> <td>{{ message.date }}<td></tr>
    <tr><th>From:</th> <td>{{ message.from }}<td></tr>
    <tr><th>To:</th> <td>{{ message.to }}<td></tr>
    <tr><th>CC:</th> <td>{{ message.cc }}<td></tr>
    <tr><th>Tags:</th> <td>{{ message.tags }}<td></tr>
</table>


{% if message.html %}
{{ message.html }}
{% elif message.plaintext %}
<div class="plain-text-msg" >
{{ message.plaintext | plaintohtml }}
</div>
{% endif %}

<p>
<strong>
Attachments:
</strong>
</p>
<ul>
{% for part in message.parts %}
<li> {{ part.get_filename() }}
(<a href="{{ message.id }}/{{ loop.index0 }}"> {{ part.get_content_type() }} </a>) 
{% endfor %}
</ul>

<script>
$( "#archive-button" ).click(function() {

    $.ajax({
        type: "PATCH",
        url: "/message/{{ message.id }}",
        data: '{"tags":{"remove" : ["inbox", "unread"], "add" : []}}',
        contentType: "application/json",
        success: function(msg){
        }
    });
});
</script>
  </body>
</html>
