 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> {{ message.subject }} </title>
  <style type="text/css">
#header {
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    margin-bottom: 20px;
}
th {
    text-align: left;
}
#plain-text-msg {
white-space: pre-wrap;
max-width: 80ch; 
font-family: monospace;
}
   
  </style>
  </head>
  <body>
  
<h1> {{ message.subject }} </h1> 
<a href="/thread/{{ message.thread_id }}#{{ message.id }}">Thread</a>

<table id="header">
    <tr><th>Date:</th> <td>{{ message.date }}<td></tr>
    <tr><th>From:</th> <td>{{ message.from }}<td></tr>
    <tr><th>To:</th> <td>{{ message.to }}<td></tr>
    <tr><th>CC:</th> <td>{{ message.cc }}<td></tr>
    <tr><th>Tags:</th> <td>{{ message.tags }}<td></tr>
</table>


{% if message.html %}
{{ message.html }}
{% elif message.plaintext %}
<p id="plain-text-msg" >
{{ message.plaintext }}
</p>
{% endif %}

<p>
<strong>
Attachments:
</strong>
</p>
<ul>
{% for part in message.parts %}
<li> {{ part.get_filename() }}
(<a href="{{ message.id }}/{{ loop.index0 }}"> {{ part.get_content_type() }} </a>) 
{% endfor %}
</ul>
  </body>
</html>
