 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ thread_title }} </title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}" type="text/css">
  </head>
  <body>
  <h1> {{ thread_subject }} </h1>

  <ul>
      {% for message in message_list %}
      <li> <a href="#{{ message.id }}" >{{ message.date }} — {{ message.from}}</a> </li>
      {% endfor %}
  </ul>

  {% for message in message_list %}
  <p> <strong>{{ message.date | dateformat}} — {{ message.from }}</strong> <br/>
       </p>

      <div id="{{ message.id }}">
    {% if message.html %}
    {{ message.html }}
    {% elif message.plaintext %}
    <div class="plain-text-msg" >
        {{ message.plaintext | plaintohtml }}
    </div>
    {% endif %}
  {% endfor %}
  </div>

  
  </body>
</html>
