 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ thread_title }} </title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <style type="text/css">
    .folded {
        display: none;
    }
    </style>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
  <h1> {{ thread_subject }}
  <button id="archive-thread-button" type="button">Archive</button> 
  </h1>


  {% for message in message_list %}
  <div class="message" id="{{ message.id|urlencode}}">
      <p class="msg-header"> <strong>{{ message.date | dateformat}} — {{ message.from }}</strong> ({{ message.tags | join(", ") }})<br/>
       </p>
       {% if 'unread' in message.tags %}
       <div class="body">
       {% else %}
       <div class="body folded" >
       {% endif %}
    {% if message.html %}
    <span class="html-msg">
    {{ message.html }}
</span>
    {% elif message.plaintext %}
    <span class="plain-text-msg" >
        {{ message.plaintext | plaintohtml }}
    </span>
    {% endif %}
    <p>
    <a href="/message/{{ message.id }}">Open message</a>
    </p>
</div>
  </div>
  {% endfor %}

<script>
$( "p.msg-header" ).click(function() {
  $( this ).parent().find(".body").toggleClass( "folded" );
});
function jq( myid ) {
    return myid.replace(/[!"$%&'()*+,.\/:;<=>?@[\\\]^`{|}~]/g, "\\$&");
}
 $(document).ready(function(){
                //JQuery code for getting current URL
                var hash = $(location).attr('hash');
                console.log(hash);
                $(jq(hash)).find(".body").removeClass("folded");
            });

//archive thread

$( "#archive-thread-button" ).click(function() {
    $.ajax({
        type: "PATCH",
        url: "/thread/{{ threadid }}",
        data: '{"tags":{"remove" : ["inbox", "unread"], "add" : []}}',
        contentType: "application/json",
        success: function(msg){
        }
    });
});

</script>
  
  </body>
</html>
